<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">StudyMonkey</a>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="signup">Sign up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://github.com/Christopher-Wang/StudyMonkey">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<div class="content text-center p-5">
    <h3 style="color: #ff6a3d">WHAT IS STUDY MONKEY?</h3>

    <p>Study Monkey is the survey creation tool developed by team <b>Study Monkey</b>.</p>
        <p>Who are we?</p>
        <ul>
            <li>
                Christophe Tran
            </li>
            <li>
                Christopher Wang
            </li>
            <li>
                Michael Patsula
            </li>
            <li>
                Rahul Anilkukmar
            </li>
            <li>
                Thomas Leung
            </li>
        </ul>
    <p>Some more details!</p>
    <p>SYSC4806 - Surveyor can create a survey with a list of Questions.
        Questions can be open-ended (text), asking for a number within a range, or asking to choose among many options.
        Users fill out a survey that is a form generated based on the type of questions in the survey. Surveyor can
        close the survey whenever they want (thus not letting in new users to fill out the survey), and at that point
        a survey result is generated, compiling the answers: for open-ended questions, the answers are just listed
        as-is, for number questions a histogram of the answers is generated, for choice questions a pie chart is generated.</p>

    <h4>Important Links:</h4>
    <a class="m-3" href="https://github.com/Christopher-Wang/StudyMonkey">Github</a>
    <a class="m-3" href="https://travis-ci.com/github/Christopher-Wang/StudyMonkey/branches">Travis-CI</a>
    <a class="m-3" href="https://study-monkey.herokuapp.com">Heroku</a>
    <a class="m-3" href="https://www.figma.com/file/sgJvyvbVcfeZHe15tgrBcT/StudyMonkey">Figma</a>
</div>

</body>
</html>