<!DOCTYPE HTML>
<head>
    <title>Study Monkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>

<div class="navbar-dark bg-dark" style="padding-top:50px;height:1000px;">
    <div class="container text-light text-center p-2">
        <h1>(╥﹏╥)</h1>
        <h2>An Error Occurred</h2>
        <p>Something went wrong!</p>
        <p> Please try again with valid input.</p>
        <button type="button" onclick="location.href='/home';"class="btn btn-primary btn-lg m-3 border border-light rounded-pill">Return Home</button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>