<!DOCTYPE HTML>
<head>
    <title>Study Monkey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/home">StudyMonkey</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Survey
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/surveyV2">Survey Creation</a></li>
                            <li><a class="dropdown-item" href="/surveyV2/surveyList">View Survey</a></li>
                            <li><a class="dropdown-item" href="question">Add Questions</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="https://github.com/Christopher-Wang/StudyMonkey">Github</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="navbar-dark bg-dark" style="height:300px;">
        <div class="container text-light text-center p-5">
            <h1>STUDY MONKEY!</h1>
            <p>Let's make a quick survey to get going!</p>
            <div class="container">
                <button type="button" onclick="location.href='/surveyV2';" class="btn btn-primary btn-lg m-3 border border-light rounded-pill">Create Surveys</button>
                <button type="button" onclick="location.href='/surveyV2/surveyList';"class="btn btn-primary btn-lg m-3 border border-light rounded-pill">View Surveys</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
    h1 {
        font-family: 'Bungee', cursive;
        font-size: 105px;
    }
</style>