<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey Catalogue - StudyMonkey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">StudyMonkey</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Survey
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="/surveyV2">Survey Creation</a></li>
                        <li><a class="dropdown-item" href="surveyV2/surveyList">View Survey</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://github.com/Christopher-Wang/StudyMonkey">Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2 class="m-3">List of surveys</h2>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col" th:each="survey : ${surveyList}">
            <div class="card">
                <div class="card-header text-muted">
                    <h6 style="display: inline-block" class="card-text">Survey Id:
                        <span class="card-text" th:text="${survey.id}"/></h6>
                    <a style="float:right" th:href="@{/surveyV2/modifySurvey(surveyId=${survey.id})}"
                       class="btn btn-secondary btn-sm">Edit</a>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>
                        <span class="card-title" th:text="${survey.name}"/></strong></h5>
                    <p class="card-text">
                        <span class="card-text" th:text="${survey.description}"/></p>
                    <span th:if="${survey.status!=null && survey.status == 0}">
                        <a th:href="@{/question(surveyId=${survey.id})}" class="btn btn-primary">Add Questions</a>
                    </span>

                    <a th:href="@{/question/questionList(surveyId=${survey.id})}" class="btn btn-primary">View
                        Questions</a>
                </div>
                <div class="card-footer">
                    <div th:if="${survey.status!=null}">
                        <div th:switch="${survey.status}">
                            <h6 th:case=1 style="display: inline-block" class="text-muted">Survey Status: CLOSED </h6>
                            <h6 th:case=0>Survey Status: OPEN </h6>
                            <h6 th:case="*">Survey Status: Unknown</h6>
                        </div>
                        <div th:if="${survey.status==1}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>
</html>